**/svo_output/

!svo_output/

**/__pycache__/
*.pyc


# custom folders
**/o1/** 
stereo-fusion/*
.vscode/*
archive-svo-files/*
svo-archives/* 

# pipeline-folders
output/*
input/*
config/*
svo-test/*
output-backend/*
input-backend/*
logs/*


# file types
*.bin
*.ply
*.png
*.jpg
*.jpeg
*.swp
test/*
*.out
*.fuse*
*.svo*
*.txt
*.zip
*.log
*.pt
