**/svo_output/

!svo_output/

**/__pycache__/
*.pyc

*.swp
test/*
*.out
*.fuse*
*.svo*
*.txt
*.zip

# custom folders
**/o1/** 
stereo-fusion/*
.vscode/*

# folders
output/*
input/*
config/*
svo-test/*


*.bin
*.ply
*.png
*.jpg
*.jpeg
